<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.gaiacri.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Accesso"
            android:label="Gaia Mobile"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.gaiacri.mobile.MenuPrincipale"
            android:label="Menù di Gaia" >
        </activity>
        <activity
            android:name=".ElencoAttivita"
            android:label="@string/title_activity_elenco_attivita" >
        </activity>
        <activity
            android:name=".DisplayAttivita"
            android:label="Visualizzazione turni d iGaia" >
        </activity>
    </application>

</manifest>